// Colors
$c1: #005867;
$l1: #fca1fd;
$l2: #58fb58;

// General
html, body{
    width:100%;
    height:100%;
}
body{
    margin:0;
    background-color: #e7f4ff;
    font-family: Montserrat,sans-serif;
}
.wrapper{
    margin-top:50px;
    height:100%;
}
#appWrapper{
    height:100%;
}
#app{
    height:100%;
}
// Navbar
.nav{
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:100px;
    width:100%;
    background-color:rgba(0,0,0,0);
    z-index:999;
    transition: height 0.25s, background-color 0.25s;
    .logo{
        float: left;
        line-height: 100px;
        margin-left: 40px;
        font-size: 25px;
        width:50px;
        height:100%;
        cursor:pointer;
        transition:line-height 0.25s;
        text-decoration:none;
        p{
            display:inline;
            color:white;
            text-decoration:none;
        }
    }
    .linkList{
        text-align: center;
        line-height: 100px;
        margin-right: 90px;
        transition:line-height 0.25s;
        .navbtn{
            color: white;
            margin-left: 15px;
            margin-right: 15px;
            text-decoration: none;
            font-family: Montserrat,sans-serif;
            font-weight: 700;
            &:hover{
                color:$l1;
            }
        }
    }
    .socialList{
        float:right;
        margin-top: 25px;
        margin-right: 40px;
        transition: margin-top 0.25s;
        .socialIcon{
            fill:white;
            display:inline;
            margin-left:10px;
            margin-right:10px;
            cursor:pointer;
            svg{
                height:20px;
            }
            &:hover{
                fill:$l1;
            }
        }
    }
}
.smallerLine{
    line-height:50px !important;
}
.navSmall{
    height:50px;
    background-color: $c1 !important;
}
.shortSocial{
    margin-top:16px !important;
}
// Home Page
.homeHeader{
    height:100%;
    min-height:550px;
    margin-top:-50px;
    color:white;
    background-size:cover;
    background-position:center;
    .latestContainer{
        display:table;
        width:100%;
        height:100%;
        overflow:hidden;
        .epiContainer{
            display:table-cell;
            vertical-align:middle;
            .latestContents{
                width: 80%;
                position: relative;
                z-index: 10;
                text-align: center;
                position: absolute;
                top: 15%;
                left: calc(50% - (80%/2));
                height: 350px;
                .description{
                    max-width: 75%;
                    margin-left: auto;
                    margin-right: auto;
                    font-weight: bold;
                    font-size: 20px;
                }
                .title{
                    font-size: 47px;
                    font-weight: bold;
                    margin-bottom: 25px;
                }
                .date{
                    margin-bottom:25px;
                    font-size:15px;
                }
            }
        }
    }
}
.epiContainer{
    margin-bottom:100px;
}
.recent{
    margin-top:50px;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: bottom;
}
.homeBtns{
    padding-top:25px;
}
.playBtn{
    cursor: pointer;
    height: 50px;
    width: 130px;
    vertical-align: middle;
    margin-top: -3px;
    background-color: rgba(80, 0, 105, 0.24);
    color: white;
    border-radius: 10px;
    border-color: #fc00ff;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    display: inline-block;
    border: solid 1px #fc00ff;
    line-height: 50px;
    font-family: Montserrat,sans-serif;
    &:hover{
        background-color:$c1;
    }
}
.homeDiv{
    margin-bottom:50px;
    h1{
        text-align:center;
    }
    hr{
        width: 125px;
        height: 3px;
        background: $c1;
        border-radius: 3px;
        border-color: $c1;
        margin-bottom: 50px;
        margin-top: 50px;

    }
}
//Player
.latestPlayer{
    height:50px;
    position:relative;
    margin-top: -3px;
}
.playerFrame{
    height:10px;
    width:10px;
    display:none;
}
.playButton{
    cursor:pointer;
    height:30px;
    width:30px;
    vertical-align: middle;
    margin-top: -3px;
}
.pauseButton{
    cursor:pointer;
    height:30px;
    width:30px;
    vertical-align: middle;
    margin-top: -3px;
}
.hid{
    display:none !important;
}
.progressBar{
    width:40%;
    height:10px;
    background-color:white;
    border: 1px solid #ccc!important;
    border-radius: 10px;
	margin-left:auto;
    margin-right:auto;
    display:none;
}
.playInput{
    display:inline-block;
    margin-left:5px;
    margin-right:5px;
}
.timeLeft{
    width:35px;
}
.tracker{
    position: absolute;
    background: black;
    font-size: 12px;
    width: 35px;
    height: 19px;
    bottom:90px;
    border: solid 1px #ca5eff;
    line-height: 19px;
    opacity:1;
    transition: opacity 0.5s;
    pointer-events:none;
}
.tracker:before{
    border-color: rgba(194, 225, 245, 0) !important;
    border-top-color: #ca5eff !important;
    border-width: 8px !important;
    margin-left: -8px;
}
.tracker:after{
    border-color: rgba(136, 183, 213, 0) !important;
    border-top-color: #000000 !important;
    border-width: 6px !important;
    margin-left: -6px;
}
.tracker:after, .tracker:before{
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.invis{
    opacity:0 !important;
}
.volumeBar{
    width:50px;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width:40%;
    height:10px;
    background-color:white;
    border: 1px solid #ccc!important;
    border-radius: 10px;
	margin-left:auto;
	margin-right:auto;
    overflow:hidden;
  }
  
  input[type=range]::-webkit-slider-thumb {
    box-shadow: -100vw 0 0 100vw red;
  }
  input[type=range]::-webkit-slider-runnable-track {
    box-shadow: -100vw 0 0 100vw red;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: -100vw 0 0 100vw red;
  }
  
  input[type=range]:focus{
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }
  .volumeBar{
      width:50px !important;
  }

  .progressWrapper{
        position: relative;
        flex-grow: 1;
        padding: 10px 0;
        margin: 15px 10px 0 10px;
        width: 40%;
        display: inline-block;
        top: 2px;
      .block{
          position:absolute;
          width:100%;
          height:50px;
          margin-top:-24px;
          opacity:0;
          z-index:9999;
      }
      .progressBackground{
            width: 100%;
            height: 5px;
            background-color: #ccc;
            position: absolute;
            border-radius: 5px;
      }
      .filledProgressBar{
            width: 0px;
            height: 5px;
            background-color: #00ceff;
            position: absolute;
            border-radius: 5px;
      }
      .progressHandle{
            left: 0px;
            border-radius: 9px;
            height: 9px;
            width: 9px;
            background-color: #cf55ff;
            box-sizing: border-box;
            margin-top: -2px;
            margin-left: -4px;
            position: absolute;
      }
      .tracker{
        position: absolute;
        background: black;
        font-size: 12px;
        width: 35px;
        height: 19px;
        bottom:22px;
        border: solid 1px #ca5eff;
        line-height: 19px;
        opacity:1;
        transition: opacity 0.5s;
    }
    .tracker:before{
        border-color: rgba(194, 225, 245, 0) !important;
        border-top-color: #ca5eff !important;
        border-width: 8px !important;
        margin-left: -8px;
    }
    .tracker:after{
        border-color: rgba(136, 183, 213, 0) !important;
        border-top-color: #000000 !important;
        border-width: 6px !important;
        margin-left: -6px;
    }
    .tracker:after, .tracker:before{
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .invis{
        opacity:0 !important;
    }
  }
  .volumeSlider{
    position: absolute;
    bottom: 32px;
    z-index: 1;
    width: 30px;
    height: 100px;
    transition: height 100ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    background-color: #f2f2f2;
    border: 1px solid transparent;
    outline: 0;
    cursor: pointer;
    z-index: 9999;
    right: 6px;
    .volumeSliderBackground{
        position: absolute;
        display: block;
        background-color: #ccc;
        bottom: 5px;
        left: 0;
        height: 92px;
        width: 2px;
        border: none;
        box-shadow: none;
        border-radius: 0;
        outline: 0;
        margin-left: 14px;
    }
    .volumeBlock{
        position:absolute;
        display:block;
        background-color: rgba(0,0,0,0);
        bottom:5px;
        left:0;
        height:92px;
        width:2px;
        border:none;
        box-shadow: none;
        border-radius: 0;
        outline: 0;
        width: 100%;
        z-index:9999;
    }
    .volumeSliderProgress{
        background: #00ceff;
        bottom: 2px;
        position: absolute;
        width: 2px;
        margin-left: 14px;
    }
    .volumeSliderHandle{
        position: absolute;
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #ca5eff;
        margin-left: 11px;
        bottom: 5px;
    }
  }
.volume{
    position: relative;
    display: inline-block;
}
#volume{
    position: relative;
}
.volumeHover{
    height:100px;
    bottom:77px;
}
.volumeSymbolHover{
    top:77px;
}
  //Footer
  .footer{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    height:50px;
    width:100%;
    text-align:center;
    color:white;
    background-color:$c1;
    z-index:999;
  }
  //Episode List
  .epiList{
      width:70%;
      list-style: none;
      padding:0px;
      margin-left: auto;
      margin-right: auto;
  }
  .allBtn{
    width: 140px;
    height: 60px;
    background: #222;
    color: white;
    display: block;
    font-size: 15px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
  }

  //Episode Card
  .episodeCard{
      position:relative;
      width: 100%;
      max-width:900px;
      height: 210px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      .epiCardImage{
            float:left;
            height:100%;
            width:250px;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
            }
      }
      .epiCardInfo{
            float:right;
            width: calc(100% - 250px);
            height: 100%;
            position:relative;
            background-color:#f3f3f3;
            .epiCardText{
                padding-left:25px;
                padding-right:25px;
            }
            p{
                font-size:15px;
            }
            h2{
                font-size:20px;
            }
            .epiButtonDiv{
                text-align:center;
                position:absolute;
                bottom:5px;
                left:0;
                right:0;
                .epiButton{
                    font-size:16px;
                    margin-left:10px;
                    margin-right:10px;
                    height:36px;
                    width:35%;
                    background-color:#cf54fc;
                    border:solid 1px $c1;
                    color:white;
                    cursor:pointer;
                    &:hover{
                        border-color:cyan;
                    }
                    &:focus{
                        outline:none;
                    }
                }
                .play{
                    background-color:#cf54fc;
                    float: left;
                    margin-left: 35px;
                }
                .info{
                    background-color:#54d4fc;
                    float: right;
                    margin-right: 35px;
                    line-height: 36px;
                    text-decoration: none;
                }
            }
      }
  }

.epiWrapper{
    padding-top:100px;
    height: 100%;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    h1{
        text-align:center;
    }
}

  .episodeCard:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    -moz-box-shadow: 1px 1px 20px 3px rgba(125, 125, 125, 0.4);
    -webkit-box-shadow: 1px 1px 20px 3px rgba(125, 125, 125, 0.4);
    box-shadow: 1px 1px 20px 3px rgba(125, 125, 125, 0.4);
    pointer-events: none;
    border-radius:5px;
  }

  .editWrapper{
      height:375px;
      max-width:500px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 200px;
  }
  .newEpisodeWrapper{
    margin-bottom: 25px;
    /* text-align: center; */
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .newEpisodeInput{
    display: block;
    width: 99%;
    margin-bottom: 15px;
    font-size: 16px;
    height: 20px;
  }
  .newEpisodeImage{
      max-width:80%;
  }
  .selectLabel{
      font-size:12px;
  }
  .newEpisodeText{
    display: block;
    width: 90%;
    height: 200px;
    padding:5px;
    margin-bottom:15px;
  }
  .saveButton{
    font-size:16px;
    margin-left:25px;
    margin-right:25px;
    height:50px;
    width:110px;
    background-color:rgba(0,0,0,0);
    border:solid 1px $c1;
    border-radius:10px;
    cursor:pointer;
    &:hover{
        border-color:cyan;
    }
    &:focus{
        outline:none;
    }
  }
  .editorpreview{
      display:none;
      position:fixed;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background:rgba(0,0,0,0.25);
      .editorOutput{
        height: 50%;
        width: 50%;
        background: white;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-top: 100px;
        overflow: scroll;
      }
  }
  .show{
      display:block !important;
  }
// About Section
.aboutContainer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    padding-top: 25px;
    margin-top: 50px;
    padding-bottom: 25px;
    h1{
        text-align:center;
    }
    .aboutCard{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .aboutImage{
        width: 160px;
        margin-left: auto;
        margin-right: auto;
        img{
            width: 160px;
            border-style: double;
            border-color: #ced7e2;
            border-radius: 50% 50% 50% 50%;
        }
    }
    h2{
        text-align:center;
    }
    h3{
        text-align: center;
        color: #003ba9;
        font-size: 17px;
        font-style: italic;
    }
}

// Contact Section
.contactContainer{
    padding-top:25px;
    .contactForm{
        width:70%;
        max-width:900px;
        min-height:300px;
        margin-bottom:15px;
        font-size:15px;
        border-radius: 5px;
        margin-right:auto;
        margin-left:auto;
        margin-top:50px;
        text-align:left;
        .contactInput{
            border-left:none;
            border-right:none;
            border-top:none;
            border-radius:0px;
            border-bottom: solid 1px #333;
            min-width:100%;
            margin-bottom:30px;
            font-size:16px;
            box-sizing: border-box;
            background: #e7f4ff;
            box-shadow:none !important;
            &:focus{
                outline:none;
                border-bottom:solid 1px #00b4c1;
            }
        }
        .inputText{
            height:25px;
        }
        .message{
            height:100px;
            resize:none;
        }
        .label{
            font-size:16px;
            position:absolute;
            pointer-events:none;
        }
        .nameLabel, .emailLabel{
            position:absolute;
            margin-top:-52px;
            margin-left:1px;
            transition: all 0.3s;
        }
        .messageLabel{
            margin-top:-130px;
            margin-left:2px;
            transition:all 0.3s;
        }
        #name:focus ~ .nameLabel, #email:focus ~ .emailLabel{
            margin-top:-75px;
            font-size:13px;
            color: #00b4c1;
            transition:all 0.3s;
        }
        #name:not(:placeholder-shown) ~ .nameLabel, #email:not(:placeholder-shown) ~ .emailLabel{
            margin-top:-75px;
            font-size:13px;
        }
        #name:focus + .userIcon, #email:focus + .envelopeIcon{
            color:#00b4c1;
            transition:all 0.3s;
        }
        
        #message:focus ~ .messageLabel{
            color:#00b4c1 !important;
            margin-top:-154px !important;
            font-size:13px !important;
            transition:all 0.3s !important;
        }
        
        #message:not(:placeholder-shown) ~ .messageLabel{
            margin-top:-154px !important;
            font-size:13px !important;
        }
        .submitButton{
            float:left;
            background-color:#1a6c88;
            color:white;
            border:none;
            width:150px;
            height:35px;
            font-size:15px;
            cursor:pointer;
            border-radius:3px;
            transition: background .5s, color .5s;
            &:hover{
                background:rgba(0,180,193,0.5);
                color:black;
            }
        }
    }
}

  // Social List
  .social{
      position:fixed;
      bottom:0;
      right:0;
      height:50px;
      width:50px;
      background:pink;
      color:black;
      border-radius:100%;
  }

.descriptionWrapper{
    margin-bottom:100px;
    max-width:60%;
    margin-left:auto;
    margin-right:auto;
    h1{
        text-align:center;
    }
}
.mainLogo{
    transform: scale(1.25);
    text-align:center;
}
.logoLeft, .logoRight{
    display:inline-block;
    margin-right:5px;
    margin-left:5px;
}
.logoLine{
    transition:background 3s;
}
.logoLetter{
    display:inline-block;
    margin-top: 0;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 0px;
    color:$l2;
    text-transform: uppercase;
    text-shadow: -1px 1px black;
    transition:color 3s;
}
.topGroup{
    display:inline-block;
    margin-left: 2px;
    margin-right: 2px;
    .thin{
        display:inline-block;
        height:50px;
        width:2px;
        margin-left: 1px;
        margin-right: 1px;
        background:$l2;
        box-shadow: -0.5px 0.5px #000000;
    }
    .thick{
        display:inline-block;
        height:50px;
        width:5px;
        margin-left: 1px;
        margin-right: 1px;
        background:$l2;
        box-shadow: -0.5px 0.5px #000000;
    }
}
.newEpisodeSummary{
    width: 99%;
    font-size: 16px;
    height: 80px;
}
.deleteImage{
    display: block;
    margin-bottom: 15px;
    height: 50px;
    width: 100px;
    background: #ffa9a9;
    font-size: 16px;
    color: white;
    border-radius: 10px;
}
.resource{
    position:relative;
}
.resourceBtn{
    position:absolute;
    height:25px;
    width:50px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-radius: 6px;
    cursor:pointer;
}
.resourceBtn.add{
    background:green;
}
.resourceBtn.delete{
    background: #ffc9c9;
    top: -2px;
    left: 115px;
    
}
.ql-container{
    width:100%;
}
.ql-editor{
    font-size:16px;
}
.logDiv{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    padding: 15px;
    .logoutBtn{
        width: 125px;
        height: 35px;
        background: #ffc7c7;
        font-size: 20px;
        border-radius: 10px;
    }
    .changeBtn{
        width: 125px;
        height: 50px;
        background: #c9ffc7;
        font-size: 20px;
        border-radius: 10px
    }
    p{
        text-align:left;
    }
    input{
        width: 100%;
        display: block;
        margin-bottom: 15px;
        height: 20px;
        font-size: 16px;
    }
}
.collapsible{
    background-color: #777;
    color:white;
    cursor:pointer;
    padding: 18px;
    width:100%;
    border:none;
    text-align:left;
    outline:none;
    font-size:15px;
}

  @media (max-width: 800px){
      .episodeCard{
        width: 80%;
        height: auto;
        .epiCardImage{
            float:none;
            width:100%;
            height:70%;
            img{
                border-radius:0px;
            }
        }
        .epiCardInfo{
            padding-top:5px;
            float:none;
            width:100%;
            height:200px;
            margin-top:-20px;
            .epiCardTitle{
                font-size:15px;
            }
            .epiCardDescription{
                font-size:13px;
            }
        }
      }
      .descriptionWrapper{
        max-width:80% !important;
    }
  }

  @media (max-width: 740px){
      .nav{
          height:50px !important;
          font-size:12px !important;
          .logo{
              line-height:50px !important;
              width:50px !important;
          }
          .linkList{
              line-height:50px !important;
              float:right;
                margin-right:0px !important;
          }
          .socialList{
              display:none;
          }
      }
      .title{
          font-size:30px !important;
      }
      .mainLogo{
          transform:scale(1);
      }
      .latestContents{
          width:90% !important;
          left: calc(50% - (90%/2)) !important;
          .date{
              font-size:13px !important;
          }
          .description{
              font-size:15px !important;
          }
      }
  }

  .toast-top-center{
      margin-top:50px !important;
  }
  .allEpisodes{
      margin-bottom:100px;
  }